.inPageNav{
    display:none;
    height:6rem;
}
main{
    margin-top:0;
}
@media(max-width:1150px){
    main{
        margin-top:7rem;
    }
}
@media(max-width:940px){
    .inPageNav{
        display:block;
    }
    main{
        margin-top:6rem;
    }
}
@media(max-width:610px){
    .pre{
        background:#fff;
    }
    .preContainer{
        padding:0;
    }
}